@import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
    box-sizing: border-box;
    background: #ffc600;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin: 0 auto;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.panels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    background: #ffc600;
    background-size: cover;
    background-position: center;
    color: #f5f5f5;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
    font-size: 2em;
    text-align: center;
    align-items: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.panel1 {
    background-image: url(https://images.unsplash.com/photo-1490618786194-8700beddf3af?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f25e93740aec67f74e429dee64dead71&auto=format&fit=crop&w=934&q=80);
}

.panel2 {
    background-image: url(https://images.unsplash.com/photo-1501962679900-bea61483313b?ixlib=rb-0.3.5&s=ecce99e255b2e638082498678eda7404&auto=format&fit=crop&w=2249&q=80);
}

.panel3 {
    background-image: url(https://images.unsplash.com/photo-1489416656989-27c1c2236852?ixlib=rb-0.3.5&s=47cb4003d24786c6a19fca135be6cb27&auto=format&fit=crop&w=957&q=80);
}

.panel>* {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel>*:first-child {
    transform: translateY(-100%);
}

.panel.open-active>*:first-child {
    transform: translateY(0);
}

.panel>*:last-child {
    transform: translateY(100%);
}

.panel.open-active>*:last-child {
    transform: translateY(0);
}

.panel p {
    text-transform: uppercase;
    font-size: 1em;
}

.panel p:nth-child(2) {
    font-size: 2em;
}

.panel.open {
    font-size: 4em;
    flex: 5;
}